@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: hsl(231, 33%, 84%);
    --color-task-pending: hsl(235, 29%, 83%);
    --color-text-constant: hsl(220, 98%, 61%);
    --color-bg-body: hsl(240, 20%, 12%);
    --color-bg-task: hsl(235, 24%, 19%);
  }
  .theme_light {
    --color-text-base: hsl(240, 1%, 60%);
    --color-task-pending: hsl(244, 9%, 36%);
    --color-text-constant: hsl(220, 98%, 61%);
    --color-bg-body: hsl(0, 0%, 98%);
    --color-bg-task: hsl(0, 0%, 100%);
  }
}
