:root {
  -very_dark_blue: hsl(235, 21%, 11%);
  -very_dark_desaturated_blue: hsl(235, 24%, 19%);
  -light_grayish_blue_hover: hsl(236, 33%, 92%);
  -light_grayish_blue: hsl(234, 39%, 85%);
  -dark_grayish_blue: hsl(234, 11%, 52%);
  -very_dark_grayish_blue: hsl(233, 14%, 35%);
  -very_dark_grayish_blue: hsl(237, 14%, 26%);
}
